.link {
  color: $black;
  font-size: 13px;
  border-bottom: 1px dotted rgba(#767676, 0.3);

  &:hover {
    border-bottom: 1px dotted #767676;
    transition: ease;
    transition-duration: 0.25s;
  }
}

.button__arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  border-radius: 50px;
  background-color: $white;
  border: 1px solid $white;
  cursor: pointer;

  img {
    padding: 12px 18px ;
  }

  .right {
    transform: scaleX(1)
  }

  .left {
    transform: scaleX(-1)
  }

  .up {
    transform: rotate(-90deg);
  }

  .down {
    transform: rotate(90deg);
  }

  &:hover, &:active {
    border: 1px solid $linear;
    background-color: $linear;
    transition: ease;
    transition-duration: 0.25s;
  }

}

.button {
  background-color: $red;
  width: 252px;
  border-radius: 1000px;
  border: 1px solid rgba(255, 255, 255, 0.46);
  font-size: 16px;
  font-weight: 600;
  color: $white;
  box-shadow: inset 0 0 27px rgba(255, 255, 255, 0.46), inset 0 0 4px rgba(255, 255, 255, 0.46);
  padding: 24px 38px;

  &.sm {
    width: 147px;
    font-size: 14px;
    padding: 10px 33px;
  }

  &.lg {
    width: 294px;
    font-size: 18px;
    padding: 28px 52px;
  }

  &:hover, &:active {
    background-color: $red_hover;
    transition: ease-in-out 0.25s;
  }
}

.button__wrapper {
  position: relative;

  .button__bg {
    z-index: 1;
    width: 236px;
    height: 64px;
    border-radius: 1000px;
    background-color: rgba(255, 255, 255, 0.6);
    border: solid 1px $white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  .button__blur{
    position: absolute;
    z-index: 2;
    width: 203px;
    height: 64px;
    border-radius: 1000px;
    background-color: rgba(226, 31, 77, 0.6);
    filter: blur(34px);

    &.lg {
      width: 236px;
    }
  }

  .button__filter {
    z-index: -1;
    position: absolute;
    margin-top: 27px;
    margin-left: 28px;
  }
}