* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  font-family: Manrope, system-ui, sans-serif;
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 36px;
}

h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 30px;
}

a {
  text-decoration: none;
  color: #3F3F3F;
}

.link {
  color: #3F3F3F;
  font-size: 13px;
  border-bottom: 1px dotted rgba(118, 118, 118, 0.3);
}
.link:hover {
  border-bottom: 1px dotted #767676;
  transition: ease;
  transition-duration: 0.25s;
}

.button__arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  border-radius: 50px;
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  cursor: pointer;
}
.button__arrow img {
  padding: 12px 18px;
}
.button__arrow .right {
  transform: scaleX(1);
}
.button__arrow .left {
  transform: scaleX(-1);
}
.button__arrow .up {
  transform: rotate(-90deg);
}
.button__arrow .down {
  transform: rotate(90deg);
}
.button__arrow:hover, .button__arrow:active {
  border: 1px solid #fcc7d4;
  background-color: #fcc7d4;
  transition: ease;
  transition-duration: 0.25s;
}

.button {
  background-color: #E21F4D;
  width: 252px;
  border-radius: 1000px;
  border: 1px solid rgba(255, 255, 255, 0.46);
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
  box-shadow: inset 0 0 27px rgba(255, 255, 255, 0.46), inset 0 0 4px rgba(255, 255, 255, 0.46);
  padding: 24px 38px;
}
.button.sm {
  width: 147px;
  font-size: 14px;
  padding: 10px 33px;
}
.button.lg {
  width: 294px;
  font-size: 18px;
  padding: 28px 52px;
}
.button:hover, .button:active {
  background-color: #f5406a;
  transition: ease-in-out 0.25s;
}

.button__wrapper {
  position: relative;
}
.button__wrapper .button__bg {
  z-index: 1;
  width: 236px;
  height: 64px;
  border-radius: 1000px;
  background-color: rgba(255, 255, 255, 0.6);
  border: solid 1px #FFFFFF;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.button__wrapper .button__blur {
  position: absolute;
  z-index: 2;
  width: 203px;
  height: 64px;
  border-radius: 1000px;
  background-color: rgba(226, 31, 77, 0.6);
  filter: blur(34px);
}
.button__wrapper .button__blur.lg {
  width: 236px;
}
.button__wrapper .button__filter {
  z-index: -1;
  position: absolute;
  margin-top: 27px;
  margin-left: 28px;
}

.button-more-details {
  width: 162px;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  color: #E21F4D;
  border-radius: 1000px;
  border: 1px solid #E21F4D;
  box-shadow: 0px 5px 7px 4px #112758, 0.2;
}
.button-more-details div {
  padding: 15px 5px 16px 30px;
}
.button-more-details img {
  width: 23px;
  height: 23px;
  margin-top: 21px;
}
.button-more-details:hover, .button-more-details:active {
  background-color: #fcc7d4;
  transition: ease-in-out 0.25s;
}

.button-load {
  color: #FFFFFF;
  width: 195px;
  height: 54px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  padding: 17px 30px 15px 30px;
  border-radius: 1000px;
  background-color: #f5406a;
  border: 0;
  box-shadow: inset 0 0 27px 4px rgba(255, 255, 255, 0.25);
}
.button-load:hover, .button-load:active {
  background-color: #f56687;
  transition: ease-in-out 0.25s;
}

body {
  background-color: #FFFFFF;
  color: #3F3F3F;
}

.wrapper {
  margin: 0 18vw;
}

.header {
  position: relative;
  padding-top: 18.5px;
  width: 100%;
  height: 73.5px;
  display: flex;
  margin: 0 auto;
  font-size: 14px;
  text-align: left;
}
.header .vertical-line {
  width: 1px;
  height: 36px;
  background-color: #3F3F3F;
  opacity: 20%;
  position: absolute;
  top: 30px;
  left: 222px;
}
.header__wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}
.header__title {
  display: flex;
  align-items: center;
  margin-left: 52px;
  width: 180px;
}
.header .location {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.header .location__map img {
  border-radius: 50px;
  border: solid #FFFFFF 6px;
}
.header .location__address {
  align-items: center;
  width: 120px;
}
.header .contacts {
  width: 233px;
  display: flex;
  gap: 8px;
  background-color: #FFFFFF;
  align-items: center;
  padding: 12px;
  border-radius: 673px;
  box-shadow: 0 2px 5px rgba(118, 118, 118, 0.3);
}
.header .contacts__icon {
  width: 31px;
  height: 31px;
}
.header .contacts__number {
  font-size: 20px;
  line-height: 20px;
  color: #818181;
}
.header .contacts__number span {
  font-weight: 600;
  color: #E21F4D;
}
.header .contacts__desc {
  position: relative;
  text-align: right;
  color: #767676;
  font-size: 10px;
}
.header .contacts__desc span {
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background-color: #79BC6E;
  top: 5.5px;
  left: 32px;
}
.header .contacts:hover {
  background-color: #fcc7d4;
}

.intro {
  display: flex;
  margin-top: 26px;
  margin-bottom: 48px;
}
.intro .pictures {
  position: relative;
  width: auto;
  height: auto;
}
.intro .pictures__person {
  position: relative;
  z-index: 5;
}
.intro .pictures__signature {
  z-index: 5;
  position: absolute;
  right: -55px;
  bottom: 10px;
}
.intro .pictures__effect {
  z-index: -1;
  position: absolute;
  left: -380px;
  bottom: 4px;
}
.intro .pictures .nametag {
  top: 506px;
  left: 169px;
  z-index: 6;
  position: absolute;
  display: flex;
  width: 185px;
  height: 45px;
  border-radius: 5px;
  background-color: #FFFFFF;
  padding: 9.5px 0px 13.5px 18px;
  gap: 11px;
  color: #E21F4D;
  font-size: 16px;
  font-weight: 700;
  align-items: center;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.1);
}
.intro .pictures .nametag img {
  width: 26px;
  height: 26px;
  border: 1px solid #FFFFFF;
  border-radius: 100%;
  padding: 0px 7px;
  margin-top: 5px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.1);
}
.intro .pictures .slogan {
  text-align: left;
}
.intro .pictures .slogan > div:nth-child(1) {
  top: 549px;
  left: 193px;
}
.intro .pictures .slogan > div:nth-child(2) {
  top: 582px;
  left: 193px;
}
.intro .pictures .slogan__item {
  z-index: 5;
  position: absolute;
  top: 20px;
  display: inline-block;
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 7.5px 15px 13.5px 23px;
  font-size: 18px;
  line-height: 28px;
}
.intro .pictures .slogan__item_span {
  z-index: 5;
  top: 615px;
  left: 193px;
  position: absolute;
  display: inline-block;
  color: #969696;
  width: 178px;
  background-color: #FFFFFF;
  border-radius: 5px;
  font-size: 11px;
  padding: 7.5px 15px 13.5px 23px;
}
.intro__wrapper {
  z-index: 5;
  margin-left: 4vw;
  max-width: 650px;
  margin-right: 18vw;
}
.intro__title_h1 {
  margin: 53px 18vw 41px -57px;
  width: auto;
  text-align: left;
  font-size: 55px;
  line-height: 70px;
  font-weight: 800;
}
.intro__text {
  max-width: 425px;
  width: 22.4vw;
  font-size: 18px;
  line-height: 150%;
  text-align: left;
  margin-bottom: 31px;
}
@media (max-width: 1440px) {
  .intro__title_h1 {
    font-size: 35px;
    line-height: 40px;
  }
  .intro__text {
    font-size: 13px;
    line-height: 150%;
    text-align: left;
    margin-bottom: 31px;
  }
}
.intro .card {
  display: flex;
  position: relative;
  align-items: center;
  margin-top: 39.5px;
  width: 22.5vw;
  height: 140px;
  border-radius: 10px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 5px rgba(118, 118, 118, 0.3);
}
.intro .card__img {
  width: 3vw;
  height: 3vw;
  margin: 2vw 1.4vw;
}
.intro .card__info {
  text-align: left;
  margin-right: 1.8vw;
}
.intro .card__title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}
.intro .card__desc {
  font-size: 13px;
  margin-bottom: 10px;
}
.intro .card__button {
  position: absolute;
  right: -27px;
}
@media (max-width: 1440px) {
  .intro .card__title {
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  .intro .card__desc {
    font-size: 10px;
    margin-bottom: 10px;
  }
}
@media (max-width: 1024px) {
  .intro {
    flex-direction: column-reverse;
  }
  .intro .pictures {
    position: relative;
    width: auto;
    height: auto;
  }
  .intro .pictures__person {
    position: relative;
    z-index: 5;
  }
  .intro .pictures__signature {
    z-index: 5;
    position: absolute;
    right: -55px;
    bottom: 10px;
  }
  .intro .pictures__effect {
    z-index: -1;
    position: absolute;
    left: -380px;
    bottom: 4px;
  }
  .intro .pictures .nametag {
    top: 506px;
    left: 169px;
    z-index: 6;
    position: absolute;
    display: flex;
    width: 185px;
    height: 45px;
    border-radius: 5px;
    background-color: #FFFFFF;
    padding: 9.5px 0px 13.5px 18px;
    gap: 11px;
    color: #E21F4D;
    font-size: 16px;
    font-weight: 700;
    align-items: center;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.1);
  }
  .intro .pictures .nametag img {
    width: 26px;
    height: 26px;
    border: 1px solid #FFFFFF;
    border-radius: 100%;
    padding: 0px 7px;
    margin-top: 5px;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.1);
  }
  .intro .pictures .slogan {
    text-align: left;
  }
  .intro .pictures .slogan > div:nth-child(1) {
    top: 549px;
    left: 193px;
  }
  .intro .pictures .slogan > div:nth-child(2) {
    top: 582px;
    left: 193px;
  }
  .intro .pictures .slogan__item {
    z-index: 5;
    position: absolute;
    top: 20px;
    display: inline-block;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 7.5px 15px 13.5px 23px;
    font-size: 18px;
    line-height: 28px;
  }
  .intro .pictures .slogan__item_span {
    z-index: 5;
    top: 615px;
    left: 193px;
    position: absolute;
    display: inline-block;
    color: #969696;
    width: 178px;
    background-color: #FFFFFF;
    border-radius: 5px;
    font-size: 11px;
    padding: 7.5px 15px 13.5px 23px;
  }
}

.sectionName {
  display: inline-block;
  color: #E21F4D;
  font-size: 14px;
  padding: 13px 29px;
  background-color: #FFFFFF;
  border-radius: 350px;
  box-shadow: 0 4px 59px rgba(0, 0, 0, 0.08);
}

.title_h2 {
  text-align: left;
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  text-transform: uppercase;
}
.title_h2 span {
  color: #E21F4D;
  font-weight: 800;
}

.services__name {
  width: 150px;
  margin-bottom: 16px;
}
.services__title {
  margin-left: 12px;
  margin-bottom: 54px;
}
.services .slider {
  width: 100%;
  height: 400px;
  background-color: #79BC6E;
  margin-bottom: 100px;
}
.services .services-card {
  width: 19.5vw;
  height: auto;
  margin-bottom: 200px;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 14px 66px rgba(0, 0, 0, 0.1);
}
.services .services-card__img {
  width: 100%;
  height: 10.55vw;
}
.services .services-card__info {
  width: 100%;
  height: auto;
  padding: 1.7vw 1.6vw;
}
.services .services-card__title {
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  margin-bottom: 10px;
}
.services .services-card__desc {
  font-size: 13px;
  text-align: left;
  margin-bottom: 20px;
}
.services .services-card__wrapper {
  display: flex;
  gap: 17px;
  align-items: center;
  flex-wrap: wrap;
}
.services .serviceSwiper {
  position: relative;
}
.services .serviceSwiper .swiper-slide {
  max-height: 500px;
}
.services .services-btn-wrapper {
  position: relative;
  z-index: 5;
}
.services .services-btn-wrapper .services-btn-prev {
  position: absolute;
  top: -325px;
  left: -27px;
}
.services .services-btn-wrapper .services-btn-next {
  position: absolute;
  top: -325px;
  right: -27px;
}

.clinic {
  display: flex;
}
.clinic .hero-info .hero {
  width: 206px;
  font-size: 55px;
  line-height: 105%;
  text-transform: none;
  font-weight: 400;
  text-align: start;
}
.clinic .hero-info .hero span {
  font-weight: 600;
}
.clinic .hero-info__post {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 33px;
}
.clinic .hero-pictures {
  position: relative;
  z-index: -1;
}
.clinic .hero-pictures__hero {
  position: absolute;
  top: 0px;
  left: -100px;
  width: 27vw;
  height: 26vw;
}
.clinic .hero-pictures__signature {
  position: absolute;
  top: 410px;
  right: -38.2vw;
}
.clinic-info__text {
  margin-left: 17vw;
}
.clinic-info__name {
  margin-bottom: 20px;
}
.clinic-info__title {
  position: relative;
  width: 433px;
  margin-bottom: 20px;
}
.clinic-info__title_star {
  position: absolute;
  top: -6px;
  left: -13px;
}
.clinic-info__desc {
  text-align: left;
  margin-left: 5vw;
  font-size: 16px;
  line-height: 150%;
}
.clinic-info__desc span {
  font-weight: 600;
}
@media (max-width: 1440px) {
  .clinic .hero-info .hero {
    width: 10.8vw;
    font-size: 30px;
  }
  .clinic-info__desc {
    text-align: left;
    margin-left: 5vw;
    font-size: 12px;
    line-height: 150%;
  }
  .clinic-info__desc span {
    font-weight: 600;
  }
}

.specialists {
  position: relative;
  z-index: 5;
  margin: 0 auto;
  margin-top: -30px;
  padding: 0 8vw;
  width: 79vw;
  border-radius: 50px;
  background-color: #F5F5F5;
}
.specialists .specialist-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
}
.specialists .specialist-info__wrapper {
  margin-left: 32px;
}
.specialists .specialist-info__name {
  margin-top: 54px;
  margin-bottom: 12px;
}
.specialists .specialist-info__title {
  width: 327px;
}
.specialists .specialist-info__desc {
  position: relative;
  width: 428px;
  margin-top: 82px;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
}
.specialists .specialist-info__desc img {
  position: absolute;
  top: -13px;
  left: -13px;
}
.specialists .specialist-info__desc span {
  font-weight: 700;
}
.specialists .specs {
  display: grid;
  gap: 25px;
  margin-bottom: 50px;
  grid-template-columns: repeat(3, 1fr);
}
.specialists .specs__item {
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 35px 31px;
  width: 384px;
  height: 606px;
}
.specialists .specs__item img {
  margin-bottom: 20px;
}
.specialists .specs__name {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
}
.specialists .specs__profession {
  color: #E21F4D;
  font-size: 14px;
  margin-bottom: 15px;
}
.specialists .specs__desc {
  opacity: 60%;
  font-size: 14px;
  margin-bottom: 15px;
}
.specialists .button-wrap {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  padding-bottom: 46px;
}
@media (max-width: 1750px) {
  .specialists .specs {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 1440px) {
  .specialists .specialist-info__desc {
    font-size: 13px;
  }
}
@media (max-width: 1162px) {
  .specialists .specs {
    grid-template-columns: repeat(1, 1fr);
  }
}

.principles {
  display: flex;
  justify-content: end;
  margin-bottom: 51px;
}
.principles-pictures {
  position: relative;
  z-index: 2;
}
.principles-pictures__hero {
  position: absolute;
  top: 10px;
  left: -35.8vw;
  width: 45vw;
  height: 45vw;
}
.principles-pictures__star_1 {
  position: absolute;
  top: 70px;
  left: 495px;
}
.principles-pictures__star_2 {
  position: absolute;
  top: 700px;
  left: 370px;
}
.principles-pictures__star_3 {
  position: absolute;
  top: 780px;
  left: 450px;
}
.principles-info {
  position: relative;
  z-index: 5;
  margin-top: 54px;
}
.principles-info__name {
  margin-bottom: 20px;
}
.principles-info__title {
  width: 575px;
  margin-bottom: 30px;
  font-weight: 400;
}
.principles-info__title .black {
  color: #3F3F3F;
}
.principles-list {
  margin-left: 5vw;
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 20px;
}
.principles-list__item {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 80px;
  border-radius: 11px;
  background-color: #FFFFFF;
  padding: 10px 0 10px 20px;
  box-shadow: 0 16px 59px 0 rgba(0, 0, 0, 0.08);
}
.principles-list__item img {
  width: 60px;
}
.principles-list__desc {
  width: 260px;
  font-size: 11px;
}
.principles-list__desc span {
  font-weight: 700;
}

.reviews {
  position: relative;
  z-index: 1;
  background-color: #F5F5F5;
  border-radius: 50px;
  margin: 0 auto;
  padding: 0 8.6vw;
  width: 79vw;
}
.reviews__name {
  margin-top: 64px;
  margin-bottom: 20px;
}
.reviews__wrapper {
  display: flex;
  gap: 134px;
  padding-bottom: 38px;
}
.reviews-types {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.reviews-types__list {
  display: flex;
  gap: 20px;
}
.reviews-types__item {
  font-size: 14px;
  color: #3F3F3F;
}
.reviews-types__item_active {
  font-size: 14px;
  color: #E21F4D;
}
@media (max-width: 1750px) {
  .reviews-types {
    max-width: 400px;
  }
}
.reviews-links {
  position: relative;
  z-index: 5;
}
.reviews-links__desc {
  width: 334px;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
}
.reviews-links__list {
  display: flex;
  gap: 20px;
}
.reviews-links__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #FFFFFF;
  border-radius: 50px;
  box-shadow: 0 13px 24px 0 rgba(0, 0, 0, 0.1);
}
.reviews .review-window {
  display: flex;
  justify-content: space-between;
  padding-bottom: 89px;
}
.reviews .review-window__content {
  position: relative;
  width: 41.7vw;
}
.reviews .review-window__content .video {
  width: 41.7vw;
  height: 25vw;
}
.reviews .review-window__content .play-btn {
  position: absolute;
  top: 7.4vw;
  left: 15.8vw;
  width: 10.8vw;
  height: auto;
}
.reviews .review-card__item {
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: #FFFFFF;
  width: 211px;
  height: 72px;
  border-radius: 10px;
  border: 1px solid #FFFFFF;
  padding: 5px 0 5px 20px;
  box-shadow: 0 4px 59px 0 rgba(0, 0, 0, 0.08);
}
.reviews .review-card__item:hover, .reviews .review-card__item:active {
  background-color: #fcc7d4;
  border: 1px solid #E21F4D;
}
.reviews .review-card__item.active {
  border: 1px solid #E21F4D;
}
.reviews .review-card__avatar {
  border-radius: 50px;
  border: 6px solid #FFFFFF;
  width: 62px;
  height: 62px;
}
.reviews .review-card__info {
  height: 34px;
}
.reviews .review-card__name {
  font-size: 14px;
  font-weight: 700;
}
.reviews .review-card__city {
  font-size: 11px;
  opacity: 60%;
}
.reviews .reviewSwiper {
  max-width: 300px;
  max-height: 500px;
  position: relative;
  background-color: #F5F5F5;
}
.reviews .reviewSwiper .swiper-slide_review {
  max-height: 72px;
  width: 250px;
  text-align: center;
  font-size: 18px;
  background-color: #F5F5F5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reviews .reviewSwiper .swiper-slide_review img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.reviews .review-btn-wrapper {
  position: relative;
  z-index: 10;
}
.reviews .review-btn-wrapper .review-btn-prev {
  position: absolute;
  top: -53px;
  left: -205px;
}
.reviews .review-btn-wrapper .review-btn-next {
  position: absolute;
  top: 498px;
  left: -205px;
}

.lecenses {
  margin-top: 64px;
  display: flex;
  justify-content: end;
  margin-bottom: 51px;
}
.lecenses-pictures {
  position: relative;
}
.lecenses-pictures__lecense {
  z-index: 2;
  position: absolute;
  top: 0;
  left: -26.3vw;
  width: 24vw;
  height: 25.5vw;
}
.lecenses-pictures__info {
  position: absolute;
  z-index: 3;
  top: 180px;
  left: -120px;
  width: 100px;
  font-size: 11px;
  color: #8F8F8F;
}
.lecenses-pictures__info img {
  position: absolute;
  top: 0px;
  left: -20px;
}
.lecenses-info__name {
  margin-bottom: 20px;
}
.lecenses-info__title {
  width: 362px;
  height: 74px;
  margin-bottom: 40px;
}
.lecenses-info__title .black {
  font-weight: 400;
  color: #3F3F3F;
}
.lecenses-desc {
  margin-left: 100px;
}
.lecenses-desc__text {
  width: 400px;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 45px;
}
.lecenses-desc__text span {
  font-weight: 700;
}
.lecenses-company {
  margin-bottom: 40px;
  display: flex;
}
.lecenses-company__item {
  position: relative;
  margin-right: 47px;
}
.lecenses-company__item img {
  position: absolute;
  top: -12px;
  left: -13px;
}
.lecenses-wrapper {
  margin-left: 100px;
}

.footer {
  width: 100%;
  height: 30vw;
  overflow: hidden;
  background-image: url("../img/photo/footer_bg.png");
}
.footer-desc {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.footer-desc__title {
  margin-bottom: 30px;
}
.footer-desc__text {
  font-size: 18px;
  line-height: 150%;
  width: 708px;
  margin-bottom: 30px;
}
.footer-desc__text span {
  font-weight: 700;
}
.footer-info {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}
.footer-left {
  text-align: left;
  flex-direction: column;
  text-align: start;
  align-items: flex-start;
}
.footer .map {
  width: 31.79vw;
  height: 31.79vw;
  border: 1px solid #E21F4D;
  border-radius: 1000px;
  overflow: hidden;
}
.footer-right {
  display: flex;
  flex-direction: column;
  text-align: end;
  align-items: flex-end;
}
.footer-links {
  display: flex;
  flex-direction: column;
}
.footer-links__item {
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 5px;
}
.footer-links__item:hover, .footer-links__item:active {
  color: #767676;
  transition: ease;
  transition-duration: 0.25s;
}
.footer-item {
  display: flex;
  width: auto;
  gap: 15px;
  align-items: center;
  font-weight: 500;
  margin-bottom: 30px;
}
.footer-item__wrapper {
  display: flex;
  flex-direction: column;
}
.footer-item__text {
  width: auto;
}
.footer-item__text_span {
  position: relative;
  text-align: right;
  color: #767676;
  font-size: 10px;
}
.footer-item__text_span span {
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background-color: #79BC6E;
  top: 5.5px;
  left: 2px;
}

/*# sourceMappingURL=styles.css.map */
